<div class="featuredPost">
        <div class="featuredTitle">
            <a href=" {{ include.post.url }}">
                <h5>{{ include.post.title }}</h5>
            </a>
        </div>
        <div class="paneOne">
            {% if include.post.image %}
                {% for image in site.static_files %}
                    {% if image.path contains include.post.image %}
                    {% assign postImage = image.path %}
                {% endif %}
                {% endfor %} 
             {% if postImage == blank %}
             {% assign postImage = include.post.image %}
             {% endif %}
             <img src={{ postImage }}  alt="{{ include.post.image }}"></img>
            {% endif %}
        </div>
    <div class="paneTwo">
        {% if include.post.caption %}
        <figcaption>{{ include.post.caption }}</figcaption>
        {% endif %} 
    </div>
    <div class="paneThree">
        {% if include.post.shortexcerpt %}
            {{ include.post.shortexcerpt }}
        {% endif %} 
    </div>
</div>

