<div class="footer">
    <h4 class="promo-header">Etimo bygger sveriges ledande utvecklingsorganisation.</h4>
    <p>Delar du vår passion för att utveckla moderna digitala lösningar, teknik i framkant och vilja att göra samhällsnytta? Vill du skapa kundvärde och användarnytta?
    I så fall vill vi gärna träffa dig!</p>

    <p><a href="https://etimo.se/karriar/?utm_source=blog&utm_medium=link&utm_campaign=blog-personal-promo">Läs mer om hur det är att jobba på Etimo, våra förmåner och skicka din ansökan idag</a>.</p>
</div>
